<h1>Recipes</h1>

<p *ngIf="!recipes"><em>Loading...</em></p>

<table class='table' *ngIf="recipes">
    <thead>
        <tr>            
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Notes</th>
            <th>Steps</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipes">            
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.createdBy }}</td>
            <td>{{ recipe.notes }}</td>
            <td>
                <table>
                    <thead>
                        <tr>                           
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let step of recipe.steps">                            
                            <td>{{step.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

